

.geolocation-panel {

  text-align: center;

  .geo-status-panel {
    margin: auto;
    text-align: center;
    @include pxTorem(padding, 0px, 0, 20px, 0);

    .geo-status-img {
      display: block;
      width: 100%;
      margin: auto;
      @include pxTorem(width, 50px);
      @include pxTorem(height, 50px);
      background-position: 0 0;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }

    .geo-status-loading {
      @include pxTorem(width, 37px);
      background-image: url(../images/geolocation@2x.png);
      -webkit-transform:rotate(0deg) translateZ(0);
      -ms-transform:rotate(0deg) translateZ(0);
      transform:rotate(0deg) translateZ(0);
      -webkit-transition-duration:0ms;
      -ms-transition-duration:0ms;
      transition-duration:0ms;
      -webkit-animation-name:geoLoading;
      -ms-animation-name:geoLoading;
      animation-name:geoLoading;
      -webkit-animation-duration:1s;
      -ms-animation-duration:1s;
      animation-duration:1s;
      -webkit-animation-iteration-count:infinite;
      -ms-animation-iteration-count:infinite;
      animation-iteration-count:infinite;
      -webkit-animation-timing-function:linear;
      -ms-animation-timing-function:linear;
      animation-timing-function:linear;
    }

    .geo-status-failed {
      @include pxTorem(width, 50px);
      background-image: url(../images/geolocation_failed@2x.png);
    }

    /*    .geo-location-loading {
          -webkit-transform:rotate(0deg) translateZ(0);
          -ms-transform:rotate(0deg) translateZ(0);
          transform:rotate(0deg) translateZ(0);
          -webkit-transition-duration:0ms;
          -ms-transition-duration:0ms;
          transition-duration:0ms;
          -webkit-animation-name:geoLoading;
          -ms-animation-name:geoLoading;
          animation-name:geoLoading;
          -webkit-animation-duration:1s;
          -ms-animation-duration:1s;
          animation-duration:1s;
          -webkit-animation-iteration-count:infinite;
          -ms-animation-iteration-count:infinite;
          animation-iteration-count:infinite;
          -webkit-animation-timing-function:linear;
          -ms-animation-timing-function:linear;
          animation-timing-function:linear;
        }*/
  }

  .geo-status-info {
    @include pxTorem(padding, 0, 0, 20px, 0);
    @include pxTorem(font-size, 15px);
    text-align: center;
  }

  .button-city-select {
    @include pxTorem(width, 120px);
    margin: 0 auto;
  }
}


@-webkit-keyframes geoLoading {
  from {-webkit-transform:rotate(0deg) translateZ(0)}
  to {-webkit-transform:rotate(360deg) translateZ(0)}
}
@-ms-keyframes geoLoading {
  from {-ms-transform:rotate(0deg) translateZ(0)}
  to {-ms-transform:rotate(360deg) translateZ(0)}
}
@keyframes geoLoading {
  from {transform:rotate(0deg) translateZ(0)}
  to {transform:rotate(360deg) translateZ(0)}
}

.map-content-block {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  .map-panel {
    width: 100%;
    height: 100%;
  }

  .amap-logo {
    display: none;
  }
}

